/* line 5, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: SE;
  src: url("../font/ChekiangShuKeSung.TTF");
}
/* line 10, ../sass/app.scss */
.background-element, .qWordCon, #board, #table, .circle, .ballon, #loseModal #scoreboard {
  position: relative;
  background-size: 100%;
  background-repeat: no-repeat;
}
/* line 14, ../sass/app.scss */
.background-element:before, .qWordCon:before, #board:before, #table:before, .circle:before, .ballon:before, #loseModal #scoreboard:before {
  content: "";
  display: block;
}
/* line 18, ../sass/app.scss */
.background-element > *:first-of-type, .qWordCon > *:first-of-type, #board > *:first-of-type, #table > *:first-of-type, .circle > *:first-of-type, .ballon > *:first-of-type, #loseModal #scoreboard > *:first-of-type {
  top: 0;
  position: absolute;
  width: 100%;
  margin-left: 0;
}

/* line 25, ../sass/app.scss */
.justifyCon, .funcBtnCon {
  text-align: justify;
}
/* line 27, ../sass/app.scss */
.justifyCon > *, .funcBtnCon > * {
  display: inline-block;
  position: relative;
}
/* line 31, ../sass/app.scss */
.justifyCon:before, .funcBtnCon:before {
  content: '';
  display: block;
  width: 100%;
}
/* line 36, ../sass/app.scss */
.justifyCon:after, .funcBtnCon:after {
  content: '';
  display: inline-block;
  width: 100%;
}

/* line 43, ../sass/app.scss */
body {
  background: url(../img/bg.png);
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 48, ../sass/app.scss */
header {
  background: url(../img/nav.png);
  background-size: auto auto;
  background-repeat: repeat-x;
  height: 117px;
  width: 100%;
  margin-bottom: 30px;
  z-index: 10;
  top: 0;
  left: 0;
  position: absolute;
}

/* line 61, ../sass/app.scss */
#time #timImg {
  position: absolute;
  z-index: 1;
  top: 0;
}
/* line 65, ../sass/app.scss */
#time #timImg img {
  width: 100%;
}
/* line 70, ../sass/app.scss */
#time .circle {
  background: none;
}
/* line 73, ../sass/app.scss */
#time .circle-inner {
  top: 0;
  z-index: 3;
}

/* line 79, ../sass/app.scss */
#sound {
  display: none;
}

/* line 82, ../sass/app.scss */
.question {
  text-align: center;
}

/* line 87, ../sass/app.scss */
.qWordCon .qWord {
  font-family: SE !important;
  font-size: 5em;
  font-weight: 500;
  padding-top: 30px;
  display: block;
}
/* line 94, ../sass/app.scss */
.qWordCon .qPron {
  font-family: SE !important;
  font-size: 1em;
  font-weight: 500;
}

/* line 102, ../sass/app.scss */
#time {
  text-align: center;
}
/* line 104, ../sass/app.scss */
#time #timeText {
  left: 0;
  font-size: 4em;
  font-weight: 500;
  line-height: 140px;
}
/* line 111, ../sass/app.scss */
#time .soundClickSpan {
  z-index: 4;
  position: absolute;
  width: 100%;
  top: 144px;
  height: 100px;
  cursor: pointer;
}

/* line 121, ../sass/app.scss */
#audio {
  display: none;
}

/* line 125, ../sass/app.scss */
#board {
  margin-top: 147px;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/board.png);
  width: 80%;
  background-size: contain;
}
/* line 134, ../sass/app.scss */
#board:before {
  padding-top: 38.9%;
}

/* line 139, ../sass/app.scss */
#table {
  background-image: url("../img/table.png");
  padding-top: 24%;
  margin-bottom: 20px;
}

/* line 153, ../sass/app.scss */
.heart {
  text-align: center;
}
/* line 155, ../sass/app.scss */
.heart .heartCell {
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  -webkit-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 1;
}
/* line 158, ../sass/app.scss */
.heart .heartCell.hurt {
  opacity: 0;
}
/* line 162, ../sass/app.scss */
.heart .circle-inner {
  margin-top: 20%;
}

/* line 170, ../sass/app.scss */
.circle {
  display: inline-block;
  background-image: url(../img/circle.png);
  width: 140px;
}
/* line 176, ../sass/app.scss */
.circle:before {
  padding-top: 100%;
}

/* line 182, ../sass/app.scss */
.ballon {
  background-image: url(../img/br.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80% auto !important;
  font-size: 2em;
  font-weight: 300;
  margin-top: 20px;
  margin-bottom: 20px;
  -moz-transition: background-size 0.4s ease-in-out;
  -o-transition: background-size 0.4s ease-in-out;
  -webkit-transition: background-size 0.4s ease-in-out;
  transition: background-size 0.4s ease-in-out;
}
/* line 195, ../sass/app.scss */
.ballon:before {
  content: "";
  padding-top: 150%;
}
/* line 201, ../sass/app.scss */
.ballon:hover {
  background-size: 70% auto !important;
  cursor: pointer;
}
/* line 205, ../sass/app.scss */
.ballon.broke {
  cursor: default;
  background-size: 0% auto !important;
}
/* line 208, ../sass/app.scss */
.ballon.broke span {
  opacity: 0;
}
/* line 213, ../sass/app.scss */
.ballon span {
  font-family: SE !important;
  top: 50% !important;
  left: 50%;
  text-align: center;
  _width: auto !important;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  -webkit-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
}

/* line 224, ../sass/app.scss */
.ballonCon {
  padding: 50px 10px;
}
/* line 225, ../sass/app.scss */
.ballonCon .col-md-2 {
  width: 10%;
}
/* line 227, ../sass/app.scss */
.ballonCon .col-md-2:nth-child(2n-1) {
  background-image: url(../img/bl.png);
}

/* line 236, ../sass/app.scss */
.funcBtn.used {
  visibility: hidden;
}

/* for modal*/
/* line 243, ../sass/app.scss */
.modal {
  border: none;
}
/* line 244, ../sass/app.scss */
.modal * {
  border: 0;
}
/* line 247, ../sass/app.scss */
.modal .modal-content {
  background-image: url(../img/start/bg.png);
  background-size: 100% 100%;
}
/* line 251, ../sass/app.scss */
.modal .modal-dialog {
  width: 90%;
}
/* line 256, ../sass/app.scss */
.modal .img {
  width: 100%;
  display: block;
  margin: auto;
}

/* line 265, ../sass/app.scss */
#loseModal #endmodalbar {
  width: 90%;
  margin: auto;
  display: block;
}
/* line 270, ../sass/app.scss */
#loseModal #scoreboard {
  padding-top: 50.8%;
  background-image: url(../img/end/score.png);
}
/* line 275, ../sass/app.scss */
#loseModal #scoreboard .score {
  font-family: SE !important;
  font-size: 5em;
  display: block;
  padding-left: 70%;
  padding-top: 100px;
}

/* line 286, ../sass/app.scss */
#startModal #startBtn {
  width: 70% !important;
  margin-top: 30px;
}
