@import "compass/reset" ;
@import "compass/css3/transform" ;
@import "compass/css3/transition";

@font-face {
  font-family: SE ;
  src: url('../font/ChekiangShuKeSung.TTF');
}

body * {
  cursor: url(../img/cursor.png) 25 25, auto !important;
}

.background-element {
  position:relative ;
  background-size: 100% ;
  background-repeat:  no-repeat ;
  &:before {
    content : "" ;
    display: block;
  } 
  > *:first-of-type {
    top: 0;
    position: absolute;
    width: 100% ;
    margin-left : 0 ;
  }
}
.justifyCon {
  text-align: justify;
  > * {
    display: inline-block;
    position: relative ;
  }
  &:before {
    content: '';
    display: block;
    width: 100%;
  }
  &:after {
      content: '';
      display: inline-block;
      width: 100%;
  }
}

#result-effect {
  position: fixed;
  z-index: 1;

  #o , #x , #timeup{
    position: absolute;
    display: none;
    width: 34vw;
    top : 50vh ;
    left: 50vw ;
    margin-top: -17vw;
    margin-left: -17vw;
    z-index: 10000 ;
    .show {
      display: block;
    }
  }
}

body {
  background: url(../img/bg.png);
  background-size: cover ;
  background-repeat: no-repeat ;
}
header{
  background: url(../img/nav.png) ;
  background-size:auto auto ;
  background-repeat: repeat-x ;
  height: 117px;
  width: 100% ;
  margin-bottom: 30px;
  z-index: 10 ;
  top:0;
  left:0;
  position: absolute;
}
#time {
  #timImg{
    position: absolute;
    z-index: 1 ;
    top: 0;
    img{
      width: 100%;

    }
  }
  .circle {
    background: none;
  }
  .circle-inner{
    top : 0 ;
    z-index: 3;
  }
}
#game {
  position: relative;
}

#hint {
  position: absolute;
  right: 0;
  top:400px;
  img {
    width: 150px;
  }
  span.round {
    position: absolute;
    width: 100% ;
    padding-top: 20px;
    text-align: center;

    font-family: SE !important ;
    font-size: 1.5em;
    font-weight: 500 ;
    padding-left: 16px;

  }
}

#sound{
  display: none;
}
.question {
  text-align: center;
}
.red {
  color : red ;
}
.qWordCon{
  @extend .background-element ;

  .qWord{
    font-family: SE !important ;
    font-size: 5em;
    font-weight: 500 ;
    padding-top: 30px;
    display: block;

  }
  .qPron {
    font-family: SE !important ;
    font-size: 1em;
    font-weight: 500 ;

  }
}

#time{
  text-align: center;
  #timeText {

    left: 0;
    font-size: 4em;
    font-weight: 500;
    line-height: 140px;
  }
  .soundClickSpan{
    z-index: 4 ;
    position: absolute;
    width: 100%;
    top:144px;
    height: 100px;
    cursor: pointer;
  }
}

#audio {
  display:none ;
}

#board {
  margin-top: 147px;
  margin-left: auto;
  margin-right: auto;
  background: url(../img/board.png);
  @extend .background-element ;
  width: 80%;
  background-size: contain;

  &:before{
    padding-top: 38.9% ;
  }
}

#table{
  background-image: url("../img/table.png");
  @extend .background-element ;

  padding-top: 17%;
  margin-top: 20px;
  width: 80%;
}




.funcBtnCon {
  @extend .justifyCon ;
  padding-top: 20px;
}

.heart {
  text-align: center ;
  .heartCell{
    @include transition (opacity 1s ease-in-out ) ;
    opacity: 1 ;
    &.hurt{
      opacity: 0 ;
    }
  }
  .circle-inner{
    margin-top: 20%;
  }

}
// .time {
//   text-align: right ;
// }
.circle {
  display: inline-block ;

  background-image: url(../img/circle.png);
  @extend .background-element ;

  &:before {
    padding-top: 100%;
  }
  width: 140px;
}

.ballon {
  background-image: url(../img/br.png) ;

  //@include transition (-moz-transform 1s ease-out );
  background-position:  center ;
  background-repeat: no-repeat;
  background-size: 80% auto !important;
  font-size: 2em ;
  font-weight: 300 ;

  margin-top:20px;
  margin-bottom: 20px;
  @extend .background-element ;
  &:before {
    content: "";
    padding-top:150%;
  }

  @include transition (background-size .4s ease-in-out ) ;
  &:hover {
    background-size: 70% auto !important ;
    cursor : pointer ;
  }
  &.broke {
    cursor : default;
    background-size: 0% auto !important ;
    span {
      opacity : 0 ;
    }
  }

  span{
    font-family: SE !important ;
    top: 50% !important;
    left: 50%;
    text-align: center;
    _width: auto !important ;
    @include transform (translate(-50%,-50%));
    @include transition (opacity .4s ease-in-out ) ;
  }
}

.ballonCon {
  .col-md-2 {
    width: 10%;
    &:nth-child(2n-1){
      background-image: url(../img/bl.png) ;
    }
  }
  padding: 50px 10px ;
}

.funcBtn {
  &.used{
    visibility: hidden;
  }
  width: 120px;
  img {
    width: 100% ;
  }
}

/* for modal*/

.modal {
  * {
    border: 0 ;
  }
  .modal-content{
    background-image: url(../img/start/bg.png);
    background-size: 100% 100%;
  }
  .modal-dialog{
    width: 90%;
  }
  border: none;

  .img{
    width: 100%;
    display: block;
    margin: auto;
  }
}

#loseModal {

  #endmodalbar{
    width: 90%;
    margin: auto;
    display: block;
  }
  #scoreboard{
    @extend .background-element ;
    padding-top: 50.8%;
  	background-image: url(../img/end/score.png);

    .score{
      font-family: SE !important ;
      font-size: 5em;
      display: block;
      padding-left: 300px;
      text-align: center;
      padding-right: 50px;

      padding-top: 50px;

    }
    .round {
      font-family: SE !important ;
      padding-top: 65px;
      font-size: 5em;
      padding-left: 300px;
      text-align: center;
      padding-right: 50px;
      display: block;
    }
  }
}

#startModal{
  #startBtn{
    width: 70% !important;
    margin-top:30px;
  }
}


// #endbutton{
// 	background-repeat: no-repeat;
// 	background-position: center;
// 	width:700px;
// 	height:200px;
// 	float:left;
// 	transform: translate(1.5%, 0) !important;
//   	-ms-transform: translate(1.5%, 0) !important; /* IE 9 */
//   	-webkit-transform: translate(1.5%, 0) !important; /* Safari and Chrome */
// }
